{% extends "base.html" %}

{% block content %}
  <h1>Bokeh Test</h1>
  <form>
    <select name="gradient">
	     {% for gradient in gradient_list %}
		     {% if gradient == current_gradient %}
			      <option selected value="{{ gradient }}">{{ gradient }}</option>
		     {% else %}
			      <option value="{{ gradient }}">{{ gradient }}</option>
		     {% endif %}
	     {% endfor %}
     </select>
     <input type="submit">
   </form>

   <form>
     <select name="msm">
 	     {% for msm in msm_list %}
        {% if loop.index-1 == current_msm %}
          <option selected value="{{ loop.index - 1 }}">{{ loop.index - 1 }}</option>
        {% else %}
 			   <option value="{{ loop.index - 1}}">{{ loop.index - 1 }}</option>
        {% endif %}
       {% endfor %}
      </select>
      <input type="submit">
    </form>

  {{ script|safe }}
  {{ div|safe }}

{% endblock %}
